%section.section.has-text-white.has-text-centered
  %h2.is-size-5.has-text-weight-light= t '.search'

  %br

  .field
    = form_with url: search_index_path, method: :get, local: true do |f|
      %p.control.has-icons-right
        = f.text_field :search, class: "input is-medium", type: "text", placeholder: t('.placeholder.search')
        %span.icon.is-small.is-right
          %i.fas.fa-search

  .columns.is-multiline.is-mobile
    - @categories.each do |category|
      .column.is-half-mobile.is-one-quarter-desktop
        = link_to category do
          = image_tag url_for(category.image)
