.tabs.is-medium.is-centered.shared
  %ul
    - if albums
      %li.is-active
        = link_to "#albums", t('shared.tabs.albums')

    - if artists
      %li
        = link_to "#artists", t('shared.tabs.artists')

    - if songs
      %li
        = link_to "#songs", t('shared.tabs.songs')

.tabs-content
  - if albums
    #albums.tab-item.active
      .columns.is-mobile.is-multiline
        = render albums

  - if artists
    #artists.tab-item
      .columns.is-mobile.is-multiline
        = render artists

  - if songs
    #songs.tab-item
      .columns.is-multiline
        .column.is-12
          %button#play-all.button.is-primary.is-medium
            %span.icon
              %i.fas.fa-play-circle

            %span= t 'text.play_all'

        = render songs
