.tabs.is-medium.is-centered.shared
  %ul
    - if albums
      %li.is-active= link_to t('shared.tabs.albums'), "javascript:void(0);", data: { target: "#albums" }

    - if artists
      %li= link_to t('shared.tabs.artists'), "javascript:void(0);", data: { target: "#artists" }

    - if songs
      %li= link_to t('shared.tabs.songs'), "javascript:void(0);", data: { target: "#songs" }

.tabs-content
  - if albums
    #albums.tab-item.active
      .columns.is-mobile.is-multiline
        = render albums

  - if artists
    #artists.tab-item
      .columns.is-mobile.is-multiline
        = render artists

  - if songs
    #songs.tab-item
      .columns.is-multiline
        .column.is-12
          %button#play-all.button.is-primary.is-medium
            %span.icon
              %i.fas.fa-play-circle

            %span= t 'text.play_all'

        = render songs
